In [2]:
# Seaborn is a library based on matplotlib and provides high level interface for drawing attractive and 
# informative statistical graphs
# Seaborn is a powerful visualization package build on matplotlib
# Seaborn makes visualizations better and provides more better functions, like an upgrade
import pandas as pd
stats = pd.read_csv('./DemographicData.csv')

In [3]:
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [15]:
import matplotlib as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = 12,4

import warnings 
warnings.filterwarnings('ignore')

In [22]:
filter1 = stats[stats['Internet users'] < 20]

In [24]:
filter1

,Country Name,Country Code,Birth rate,Internet users,Income Group
1,Afghanistan,AFG,35.253,5.90,Low income
2,Angola,AGO,45.985,19.10,Upper middle income
11,Burundi,BDI,44.151,1.30,Low income
13,Benin,BEN,36.440,4.90,Low income
14,Burkina Faso,BFA,40.551,9.10,Low income
15,Bangladesh,BGD,20.142,6.63,Lower middle income
28,Botswana,BWA,25.267,15.00,Upper middle income
29,Central African Republic,CAF,34.076,3.50,Low income
34,Cote d'Ivoire,CIV,37.320,8.40,Lower middle income
35,Cameroon,CMR,37.236,6.40,Lower middle income
36,"Congo, Rep.",COG,37.011,6.60,Lower middle income
38,Comoros,COM,34.326,6.50,Low income
46,Djibouti,DJI,25.486,9.50,Lower middle income
49,Algeria,DZA,24.738,16.50,Upper middle income
52,Eritrea,ERI,34.800,0.90,Low income
55,Ethiopia,ETH,32.925,1.90,Low income
60,Gabon,GAB,30.555,9.20,Upper middle income
63,Ghana,GHA,33.131,12.30,Lower middle income
64,Guinea,GIN,37.337,1.60,Low income
65,"Gambia, The",GMB,42.525,14.00,Low income
66,Guinea-Bissau,GNB,37.503,3.10,Low income
67,Equatorial Guinea,GNQ,35.362,16.40,High income
71,Guatemala,GTM,27.465,19.70,Lower middle income
75,Honduras,HND,21.593,17.80,Lower middle income
77,Haiti,HTI,25.345,10.60,Low income
79,Indonesia,IDN,20.297,14.94,Lower middle income
80,India,IND,20.291,15.10,Lower middle income
83,Iraq,IRQ,31.093,9.20,Upper middle income
93,Cambodia,KHM,24.462,6.80,Low income
94,Kiribati,KIR,29.044,11.50,Lower middle income
...,...,...,...,...,...
111,Madagascar,MDG,34.686,3.00,Low income
115,Mali,MLI,44.138,3.50,Low income
117,Myanmar,MMR,18.119,1.60,Lower middle income
120,Mozambique,MOZ,39.705,5.40,Low income
121,Mauritania,MRT,33.801,6.20,Lower middle income
123,Malawi,MWI,39.459,5.05,Low income
125,Namibia,NAM,29.937,13.90,Upper middle income
127,Niger,NER,49.661,1.70,Low income
129,Nicaragua,NIC,20.788,15.50,Lower middle income
132,Nepal,NPL,20.923,13.30,Low income
135,Pakistan,PAK,29.582,10.90,Lower middle income
139,Papua New Guinea,PNG,28.899,6.50,Lower middle income
148,Rwanda,RWA,32.689,9.00,Low income
151,Senegal,SEN,38.533,13.10,Lower middle income
153,Solomon Islands,SLB,30.578,8.00,Lower middle income
154,Sierra Leone,SLE,36.729,1.70,Low income
156,Somalia,SOM,43.891,1.50,Low income
158,South Sudan,SSD,37.126,14.10,Low income
167,Chad,TCD,45.745,2.30,Low income
168,Togo,TGO,36.080,4.50,Low income
170,Tajikistan,TJK,30.792,16.00,Lower middle income
171,Turkmenistan,TKM,21.322,9.60,Upper middle income
172,Timor-Leste,TLS,35.755,1.10,Lower middle income
177,Tanzania,TZA,39.518,4.40,Low income
178,Uganda,UGA,43.474,16.20,Low income
187,Vanuatu,VUT,26.739,11.30,Lower middle income
189,Samoa,WSM,26.172,15.30,Lower middle income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
193,Zambia,ZMB,40.471,15.40,Lower middle income
194,Zimbabwe,ZWE,35.715,18.50,Low income